<div>
  <h1>{{book.title}}</h1>
  <h3>{{book.tagLine}}</h3>
  <div>
    <img src={{book.image}} alt={{book.title}}/>
    <div>
      <h2>By {{book.author}}</h2>
      <h4>{{book.description}}</h4>
    </div>
  </div>
</div>

<br>
<br>
<hr>
